body{
    background-color: rgba(223, 241, 243, 0.623);
}

#formulario{
    font-size: 190%;
    
}

#numero{
    width: 50%;
    padding: 1%;

}

#enviar{
    margin-top: 5%;
    width: 53%;
    background-color: white;
    font-size: 20px;
    border: 0;
    padding: 1%;
}

